.*
*~
*#
Makefile_qt
moc_*
*.ui
*.o
*.a
*.so
*.lib
*.dll
bin/qtkanji
bin/qtkanji.exe
doc/html
doc/latex
*.html
object_script.qtkanji.Release
qtkanji_plugin_import.cpp
Makefile.Release
kanji.pro.user
qtkanji_resource.rc
unknown_indices.txt
